/* Global Font */
@font-face {
	font-family: 'GangwonEduHyeonokT_OTFMediumA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GangwonEdu_OTFBoldA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
html,
body,
* {
	padding: 0;
	margin: 0;
	font-family: 'GangwonEdu_OTFBoldA' !important;
	line-height: 1.6;
}

body {
	height: 100vh;
	background-image: url('/images/bgimg.svg');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
}

.recordStandby {
	padding: 10px 10px 10px 10px;
	background: linear-gradient(
		to right,
		rgba(110, 255, 130, 0.7) 0%,
		rgba(2, 128, 75, 0.7) 100%
	);
	border-radius: 15px;
}
.recording {
	padding: 10px 10px 10px 10px;
	background: linear-gradient(
		to right,
		rgba(255, 0, 0, 0.7) 0%,
		rgba(255, 166, 0, 0.7) 100%
	);
	border-radius: 15px;
}
.recordFinish {
	padding: 10px 10px 10px 10px;
	background: linear-gradient(
		to right,
		rgba(125, 97, 250, 0.7) 0%,
		rgba(4, 0, 253, 0.7) 100%
	);
	border-radius: 15px;
}

input {
	font-size: 15px;
	padding-left: 10px;
	width: 100%;
	border: 1px solid;
	border-radius: 30px;
	margin-top: 3px;
	margin-bottom: 7px;
}

input:focus {
	outline: none;
	box-shadow: 0 0 0 3px #8ab3ff;
}

select {
	width: 150px;
	padding: 5px;
	border: 1px solid #999;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
	font-size: 15px;
}

.radioLabel input[type='radio'] {
	display: none;
}

.radioLabel input[type='radio'] + span {
	display: inline-block;
	padding: 15px 10px;
	border: 1px solid #b1b1b1;
	border-radius: 20px;
	width: 85%;
	background-color: #ffffff;
	text-align: center;
	cursor: pointer;
	margin-bottom: 10px;
}

.radioLabel input[type='radio']:checked + span {
	background-color: #113a6b;
	color: #ffffff;
}
