/* Global Font */
@font-face {
	font-family: 'GangwonEdu_OTFBoldA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
html,
body,
* {
	padding: 0;
	margin: 0;
	font-family: 'GangwonEdu_OTFBoldA' !important;
	line-height: 1.6;
}

body {
	height: 100%;
	/* background-image: url('/images/bgimg.svg'); */
	background-color: #f9ecff;
	background-repeat: no-repeat;
	/* background-size: cover; */
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
}

.mainDiv {
	height: 100vh;
	background-image: url('/images/main-background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.recordStandby {
	padding: 10px 10px 10px 10px;
	background: linear-gradient(
		to right,
		rgba(110, 255, 130, 0.7) 0%,
		rgba(2, 128, 75, 0.7) 100%
	);
	border-radius: 15px;
}
.recording {
	padding: 10px 10px 10px 10px;
	background: linear-gradient(
		to right,
		rgba(255, 0, 0, 0.7) 0%,
		rgba(255, 166, 0, 0.7) 100%
	);
	border-radius: 15px;
}
.recordFinish {
	padding: 10px 10px 10px 10px;
	background: linear-gradient(
		to right,
		rgba(125, 97, 250, 0.7) 0%,
		rgba(4, 0, 253, 0.7) 100%
	);
	border-radius: 15px;
}

input {
	font-size: 15px;
	padding-left: 10px;
	width: 100%;
	border: 1px solid;
	border-radius: 30px;
	margin-top: 3px;
	margin-bottom: 7px;
}

input:focus {
	outline: none;
	box-shadow: 0 0 0 3px #8ab3ff;
}

select {
	width: 150px;
	padding: 5px;
	border: 1px solid #999;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
	font-size: 15px;
}

.radioLabel input[type='radio'] {
	display: none;
}

.radioLabel input[type='radio'] + span {
	display: inline-block;
	padding: 15px 10px;
	border: 1px solid #b1b1b1;
	border-radius: 20px;
	width: 85%;
	background-color: #ffffff;
	text-align: center;
	cursor: pointer;
	margin-bottom: 10px;
}

.radioLabel input[type='radio']:checked + span {
	background-color: #113a6b;
	color: #ffffff;
}

.mapTable th {
	width: 15%;
	font-size: 25px;
	text-align: left;
}
.mapTable td {
	width: 60%;
	font-size: 20px;
	text-align: left;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container .box {
	position: relative;
	width: 350px;
	padding: 40px;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}
.container .box:before {
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.2);
	z-index: 2;
}

.container .box .icon {
	position: relative;
	width: 80px;
	height: 80px;
	color: #fff;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 700;
	transition: 1s;
}

.container .box:nth-child(1) .icon {
	box-shadow: 0 0 0 0 #e91e63;
	background: #e91e63;
}

.container .box:nth-child(1):hover .icon {
	box-shadow: 0 0 0 400px #e91e63;
}
.container .box:nth-child(2) .icon {
	box-shadow: 0 0 0 0 #209b61;
	background: #209b61;
}

.container .box:nth-child(2):hover .icon {
	box-shadow: 0 0 0 400px #209b61;
}
.container .box:nth-child(3) .icon {
	box-shadow: 0 0 0 0 #6e46ff;
	background: #6e46ff;
}

.container .box:nth-child(3):hover .icon {
	box-shadow: 0 0 0 400px #6e46ff;
}

.container .box:nth-child(4) .icon {
	box-shadow: 0 0 0 0 #ff41d0;
	background: #ff41d0;
}

.container .box:nth-child(4):hover .icon {
	box-shadow: 0 0 0 400px #ff41d0;
}

.container .box .content {
	position: relative;
	z-index: 1;
	transition: 0.5s;
}

.container .box:hover .content {
	color: #fff;
}

.container .box .content h3 {
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
}

.container .box .content p {
	margin: 0;
	padding: 0;
}

/* ---------------------- */
.container .box2 {
	position: relative;
	width: 350px;
	padding: 40px;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}
.container .box2:before {
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.2);
	z-index: 2;
}

.container .box2 .icon {
	position: relative;
	width: 80px;
	height: 80px;
	color: #fff;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 700;
	transition: 1s;
}

.container .box2:nth-child(1) .icon {
	box-shadow: 0 0 0 0 #ffb413;
	background: #ffb413;
}

.container .box2:nth-child(1):hover .icon {
	box-shadow: 0 0 0 400px #ffb413;
}
.container .box2:nth-child(2) .icon {
	box-shadow: 0 0 0 0 #2334ce;
	background: #2334ce;
}

.container .box2:nth-child(2):hover .icon {
	box-shadow: 0 0 0 400px #2334ce;
}
.container .box2:nth-child(3) .icon {
	box-shadow: 0 0 0 0 #414141;
	background: #414141;
}

.container .box2:nth-child(3):hover .icon {
	box-shadow: 0 0 0 400px #414141;
}

.container .box2:nth-child(4) .icon {
	box-shadow: 0 0 0 0 #ff3737;
	background: #ff3737;
}

.container .box2:nth-child(4):hover .icon {
	box-shadow: 0 0 0 400px #ff3737;
}

.container .box2 .content {
	position: relative;
	z-index: 1;
	transition: 0.5s;
}

.container .box2:hover .content {
	color: #fff;
}

.container .box2 .content h3 {
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
}

.container .box2 .content p {
	margin: 0;
	padding: 0;
}
